<h1>Todos os Usuários</h1>
<%= form_tag profiles_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Procurar", :nome => nil, :email => nil, :nome_habilidade =>
    nil, :descricao_habilidade => nil, :nome_cursos => nil, :universidade => nil,
    :ano_ingresso => nil, :ano_termino => nil %>
  </p>
<% end %>

<%#= link_to "Ranking", ranking_path %>
<%= will_paginate @profiles %>

<ul class="profiles">
  <% @profiles.each do |profile| %>
   <%= render profile %>
  <% end %>
</ul>

<%= will_paginate @profiles %>
