<h1>
<%= gravatar_for @profile %>
 <%= @profile.nome %> <%= @profile.sobrenome %>, <%= @profile.sexo %> . Nasceu em: <%= @profile.data_nascimento %></br>
</h1>
<h2>
Email: <%= @profile.email %>
</h2>
<h3>
<section>
<HR>
<% if current_profile?(@profile) %>
<li><%= link_to "Adicionar", profile_cursos_path(current_profile) %></li>
<% else %>
<% end %>
<ol>

<% for curso in @profile.cursos %>
<li><%=h curso.nome %> - <%=h curso.universidade %><br>
Ingresso em: <%=h curso.ano_ingresso %> - Encerra em: <%=h curso.ano_termino %> 
<li>
<%= button_to 'Delete', { :action => "destroy", :id => curso.id },:confirm => "Are you sure?", :method => :delete %>

<HR>
<% end %>
</ol>
</section>
</h3>


