<h1>
<%= gravatar_for @profile %>
 <%= @profile.nome %> <%= @profile.sobrenome %>, <%= @profile.sexo %> . Nasceu em: <%= @profile.data_nascimento %></br>
</h1>
<h2>
Email: <%= @profile.email %>
</h2>

