<h1>
<%= gravatar_for @profile %>
 <%= @profile.nome %> <%= @profile.sobrenome %>, <%= @profile.sexo %> . Nasceu em: <%= @profile.data_nascimento %></br>
</h1>
<h2>
Email: <%= @profile.email %>
</h2>
<h3>
<section>
<HR>
<% unless @feed_items.empty? %>
Cursos
<% end %>

<% if current_profile?(@profile) %><li><%= link_to "Adicionar", curso_path(current_profile) %></li>
<% else %>
<% end %>

<%= render 'shared/feed' %>

</section>
</h3>


