<%= csrf_meta_tag %>

<h1>
<td class="profile"><font size = 5>
<%= gravatar_for @profile %> <%= @profile.nome %> <%= @profile.sobrenome %>, <%= @profile.sexo %>. Nasceu em: <%= @profile.data_nascimento %></br>

        Email: <%= @profile.email %>
 </font size></td>
 </h1>
<h2>
<% if current_profile?(@profile) %>
<font size = 4><%= link_to "Editar Profile", edit_profile_path(current_profile) %></font size>
<%= tweet_button(:count => "none", :url => "http://lucaspn.heroku.com", :text => "Estou no TCC-APP, e vc? :)")%>

<% else %>
<td class="msg"><font size = 4>
<%= link_to "Enviar Mensagem!", new_profile_message_path(current_profile, :mens=> @profile) %> 
</font size></td>
<% end %>

<HR>
<span>Cursos <% if current_profile?(@profile) %></span> <span><font size = 3><%= link_to "Adicionar Curso", new_profile_curso_path(current_profile) %></font size></span></span>
<% else %>
<% end %>


    
<% for curso in @profile.cursos %>
<table class="cursos" summary="Cursos">
<tr>


<td class="curso"><font size = 3>
<span class="nome"><%=h curso.nome %> - <span class="universidade"><%=h curso.universidade %><br>
Ingresso em: <span class="ingresso"><%=h curso.ano_ingresso %> - Encerra em: <span class="termino"><%=h curso.ano_termino %> 
  </span>
  </td>
  

<% if current_profile?(@profile) %>
 <td class="delete"><font size = 4>
 <br>
<p align="Right"><%= link_to "Delete", profile_curso_path(current_profile, curso), :method => :delete %></p>
</td>

<% else %>
<% end %>
</tr>
</table>
 

<% end %>
<HR>
</h2>

<h3>

Dono dos Projetos:

<% for projeto in @profile.projetos %>
<table class="cursos" summary="Cursos">
<tr>


<td class="curso"><font size = 3>
<%= link_to projeto.nome, projeto %> - <%=h projeto.descricao %> 
</font size = 3>
  </td>

</tr>
</table>
<% end %>
<HR>
</h3>

<h4>
Participa dos Projetos:

<% for equipe in @profile.equipes %>
<% if equipe.membro_id == @profile.id %>
<table class="cursos" summary="Cursos">
<tr>


<td class="curso"><font size = 3>
<%=h equipe.membro_id %> 
</font size = 3>
  </td>

</tr>
</table>
<% end %>
<% end %>

<HR>


</h4>
