<%= csrf_meta_tag %>
<%= javascript_include_tag :defaults %>
<h1>
<td class="profile"><font size = 5>
<%= gravatar_for @profile %> <%= @profile.nome %> <%= @profile.sobrenome %>, <%= @profile.sexo %>. Nasceu em: <%= @profile.data_nascimento %></br>

        Email: <%= @profile.email %>
 </font size></td>
 </h1>
<h2>
<% if current_profile?(@profile) %>
<font size = 4><%= link_to "Editar Profile", edit_profile_path(current_profile) %></font size>
<%= tweet_button(:count => "none", :url => "http://lucaspn.heroku.com", :text => "Estou no TCC-APP, e vc? :)")%>

<% else %>
<td class="msg"><font size = 4>
<%= link_to "Enviar Mensagem!", new_profile_message_path(current_profile, :mens=> @profile) %> 
</font size></td>
<% end %>

<HR>
<span>Cursos <% if current_profile?(@profile) %></span> <span><font size = 3><%= link_to "Adicionar Curso", new_profile_curso_path(current_profile) %></font size></span></span>
<% else %>
<% end %>


    
<% for curso in @profile.cursos %>
<table class="cursos" summary="Cursos">
<tr>


<td class="curso"><font size = 3>
<span class="nome"><%=h curso.nome %> - <span class="universidade"><%=h curso.universidade %><br>
Ingresso em: <span class="ingresso"><%=h curso.ano_ingresso %> - Encerra em: <span class="termino"><%=h curso.ano_termino %> 
  </span>
  </td>
  

<% if current_profile?(@profile) %>
 <td class="delete"><font size = 4>
 <br>
<p align="Right"><%= link_to "Delete", profile_curso_path(current_profile, curso), :method => :delete %></p>
</td>

<% else %>
<% end %>
</tr>
</table>
 

<% end %>
<HR>
</h2>

<h3>

Dono dos Projetos:

<% for projeto in @profile.dono_projetos %>
<table class="cursos" summary="Cursos">
<tr>


<td class="curso"><font size = 3>
<%= link_to projeto.nome, projeto %> - <%=h projeto.descricao %><% if current_profile?(@profile) %> - <%= link_to "Delete", projeto_path(projeto), :confirm => "Tem certeza que quer deletar seu projeto?", :method => :delete %> <% end %>
</font size = 3>
  </td>

</tr>
</table>
<% end %>
<HR>
</h3>

<h4>
Participa dos Projetos:


<% @pedido_equipe.each do |equipe| %>
<table class="cursos" summary="Cursos">
<tr>


<td class="curso"><font size = 3>
<%= link_to equipe.projeto.nome, equipe.projeto %> - <%=h equipe.projeto.descricao %> <% if current_profile?(@profile) %> <%= link_to "Deixar Projeto", equipe_path(equipe), :confirm => "Tem certeza?", :method => :delete %> <% end %>
</font size = 3>
  </td>

</tr>
</table>

<% end %>
<HR>


</h4>

<h3>

Avaliacoes:
</br>
</br>
<table class="cursos" summary="Cursos">
<tr>


<td class="curso"><font size = 3>
<% unless @avaliacaos.empty? %>
<% @avaliacaos.each do |av| %>

<strong>Avaliador:</strong> <%= link_to av.profile.nome+" "+av.profile.sobrenome, av.profile %> </br>
<strong>Participacao no Projeto:</strong> <%= link_to av.projeto.nome, av.projeto %></br>
<strong>Nota:</strong> <%= av.nota %> </br>
<strong>Comentarios:</strong> <%= av.texto %> </br>
<hr>
<table border="1">
<tr>
<th>Nivel de Habilidade</th>
<th>Comprometimento</th>
<th>Tempo de Demora</th>
</tr>
<tr>
<td><%= av.nivel_habilidade %></td>
<td><%= av.comprometimento %></td>
<td><%= av.tempo_demora %></td>
</tr>
</table> 
<table border="2">
<tr>
<th>Criatividade</th>
<th>Organizacao</th>
<th>Trabalho em Grupo</th>
<th>Comunicacao</th>
</tr>
<tr>
<td><%= av.criatividade %></td>
<td><%= av.organicazao %></td>
<td><%= av.trabalho_grupo %></td>
<td><%= av.comunicacao %></td>
</tr>
</table> 
</font size = 3>
  </td>

</tr>
</table>

<font size =3><%= will_paginate @avaliacaos%></font size =3>

<% end %>
<% end %>
</td>
</tr>
</table>


</h3>



