<%= csrf_meta_tag %>
<h1>Todos os Projetos</h1>

<%= will_paginate %>
<div>
<h2><%= link_to "Criar Projeto!", new_projeto_path %></h2>
<ul class="projetos">

<font size = 4>
  <% @projetos.each do |projeto| %>
  <div id="projeto1">
  <p>
   Nome: <%= link_to (projeto.nome), projeto %> <br>
   Descricao: <%= (projeto.descricao) %><br>
   Motivacao: <%= (projeto.motivacao) %><br>
   Idealizador: ? 
    </div>
  <% end %>
  </font size></p>
 
</ul>

<%= will_paginate %>