<%= csrf_meta_tag %>
<h1>Todos os Projetos</h1>
<table>
<%= will_paginate %>
<div>
<h2><%= link_to "Criar Projeto!", new_projeto_path %></h2>
<ul class="projetos">


 

<td class="pro round">
<font size = 4>
<% @projetos.each do |projeto| %>

<div>
   Nome: <%= link_to projeto.nome, projeto %> <br>
   Descricao: <%= projeto.descricao %><br>
   Motivacao: <%= projeto.motivacao %><br>
   Idealizador: <%= link_to projeto.profile.nome, projeto.profile%>
   <hr size="10" noshade>
     <div>
  <% end %>
  </td>
  </font size=4>

<%= will_paginate @projetos %>
</table>