<%= csrf_meta_tag %>
<h1>
<td class="projeto"><font size = 5>
Nome:<%= @projeto.nome %><br>
Descricao: <%= @projeto.descricao %><br>
Motivacao: <%= @projeto.motivacao%><br>
Site: <a href="http://<%= @projeto.site %>"><%= @projeto.site %></a><br>
Completo: <%= @projeto.completo %>%</br>

 </font size></td>
 </h1>