# encoding: utf-8 
<%= csrf_meta_tag %>
<%= javascript_include_tag :defaults %>
<h1>
<td class="projeto"><font size = 5>
<% unless @projeto.profile == current_profile %>
<% form_for(:equipe, :url => equipes_path(:membro_id => current_profile.id, :projeto_id => @projeto.id)) do |f| %>
<%= submit_tag "Entrar no Projeto!" %>
<% end %>
<% end %>


Nome:<%= @projeto.nome %><br>
Descricao: <%= @projeto.descricao %><br>
Motivacao: <%= @projeto.motivacao%><br>
Site: <a href="http://<%= @projeto.site %>"><%= @projeto.site %></a><br>
Completo: <%= @projeto.completo %>%</br>
Dono: <%= link_to (@projeto.profile.nome) +" "+ (@projeto.profile.sobrenome), @projeto.profile%><br>

<% if profile_projeto?(current_profile) %>
<font size = 4>
<%= link_to "Editar Projeto", edit_projeto_path(@projeto) %> |
<%= link_to "Delete", projeto_path(@projeto), :confirm => "Tem certeza que quer deletar seu projeto?", :method => :delete %>
</font size = 4>
<% else %>
<% end %>
 </font size></td>
 </h1>
 <HR>
<% if profile_projeto?(current_profile)%>
<font size = 4>
Novos membros querendo entrar no projeto:
<% @pedido_projeto.each do |agm| %>
<% if agm.projeto.id == @projeto.id%>
  <p> 
	  <%= link_to agm.membro.nome, agm.membro %> - 
    <%=link_to("Aceitar", equipe_path(agm, "equipe[status]" => true), :method => :put, :confirm => "Tem certeza?")%> - 
    <%= link_to "Rejeitar", equipe_path(agm), :confirm => "Tem certeza?", :method => :delete %>
  </p>
<%end %>
<%end %>
</font size = 4>
<HR>
<%end %>

