
<tr>

  <td class="curso"><font size = 3>
    <span class="profile">
    </span>
   <span class="content"><%= feed_item.nome %> - <span class="content"><%= feed_item.universidade %><br>
   Ingressou em: <span class="content"><%= feed_item.ano_ingresso %> - Encerramento previso em: <span class="content"><%= feed_item.ano_termino %>
    </span>
  </td>

  <% if current_profile?(feed_item.profile) %>
 <td>
    <%= link_to "delete", ([@profile,@feed_item]) , :action => "destroy",
                                     :method => :destroy,
                                     :confirm => "You sure?",
                                     :title => "DIE" %>
  </td>
  <% else %>
  <% end %>
</tr>