<%= csrf_meta_tag %>

<h1>Painel de Controle</h1>
<i> Seja bem vindo ao painel de controle <%= current_profile.nome %>. Aqui você poderá consultar
 informações relevantes sobre o sistema e executar ações para contornar possíveis problemas. </i> <hr> <br>

<%= link_to "Indicadores de Projetos", indicadores_projeto_reportings_path %> <br>

<%= link_to "Quantidade de Postagens por Projeto", postagens_projeto_reportings_path %> <br>

<%= link_to "Quantidade de Membros por Projeto", membros_projeto_reportings_path %> <br>

<%= link_to "Indicadores de Acesso", visitas_reportings_path %> <br> 

<%= link_to "Indicadores do Sistema", indicadores_sistema_reportings_path %>