<%= csrf_meta_tag %>

<h1>Painel de Controle</h1>

<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "orders_chart",
        defaultSeriesType: "column"
      },
      title: {
        text: "Indicadores de Projetos"
      },
      xAxis: {
        categories: ['Total de Projetos', 'Projetos não Iniciados', 'Projetos em Andamento', 'Projetos com Mensagens', 'Projetos com Membros']
      },
      yAxis: {
        title: {
          text: "Projetos"
        }
      },
      tooltip: {
        formatter: function() {
          return ''+this.x +': '+ this.y;

        }
      },
      credits: {
         enabled: false
      },
      series: [{
      name: 'Indicadores de Projetos',
      data: [<%= Projeto.count %>,
       <%= Projeto.where(:completo => '0').count %>,
        <%= Projeto.where("completo > ?", 0).count %>,
        <%= Projeto.projeto_com_postagems.size %>,
          <%= Projeto.projeto_com_membros.size %>],
          color: ['#3D96AE']
      }]
    });
  });
      
      
</script>



<div id="orders_chart" style="width:560px; height:300px;"></div>