<h1>Adicionar Habilidade</h1>

<%= form_for ([@profile,@habilidade]) do |f| %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>



  <div class="actions">
    <%= f.submit "Adicionar" %>
  </div>
<% end %>
