
<header>

  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
    <% if entrar? %>
      <li><%= link_to "Mensagens", profile_messages_path(current_profile) %></li>
       <% else %>
      <li><%= link_to "Início", root_path %></li>
      <% end %>
<% if entrar? %>
      <li><%= link_to "Projetos", projetos_path %></li> 
      <li><%= link_to "Membros", profiles_path %></li>
      <li><%= link_to "Profile", current_profile%></li>
<% end %>
       <% if entrar? %>
      <li><%= link_to "Sair", sair_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Entrar", entrar_path %></li>
      
      
      <% end %>
      
    </ul>
  </nav>
</header>

<header2>

<nav class="round">
<ul>

 <li><%= link_to "Painel de Controle", reportings_path%></li>
 
  </ul>
  </nav>
</header2>